<section class="contact">
    <div class="spacer" data-height="30"></div>
    <div class="contact__wrapper">
        <h2 class="contact__title wow animated fadeIn" data-wow-delay="0.1s">Formulário de Cadastro</h2>
        <div class="spacer" data-height="40"></div>
        <div class="contact__content">
            <form id="hub-form" data-form action="https://getform.io/f/2535ff3b-8c91-47b8-ab2a-37802bb52f56" method="POST">
                <div class="messages"></div>
                <div class="contact__row">
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.1s">
                        <input type="text" name="nome" placeholder="*Seu nome" data-rule-required data-rule-fullname />
                    </div>
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.1s">
                        <input type="text" name="cargo" placeholder="*Seu cargo" data-rule-required data-rule-lettersonly data-rule-minlength="3" />
                    </div>
                </div>
                <div class="contact__row">
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.1s">
                        <input type="email" name="email" placeholder="*Seu e-mail" data-rule-required data-rule-minlength="3" />
                    </div>
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.4s">
                        <input type="text" name="whatsapp" placeholder="Seu número de whatsapp" data-rule-phone />
                    </div>
                </div>
                <div class="contact__row">
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.2s">
                        <input type="text" name="endereco" placeholder="Endereço ou cidade" />
                    </div>
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.3s">
                        <div class="file-uploader" data-error-holder tabindex="0">
                            <i class="icon icon--smaller icon--upload"></i>
                            <span data-file-upload-name>Enviar foto</span>
                        </div>
                        <input tabindex="-1" name="perfil" data-rule-filesize="5" data-rule-extension="jpg, png" data-file-upload-button type="file" />
                    </div>
                </div>
                <div class="contact__row">
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.5s">
                        <input type="text" name="instagram" placeholder="Seu perfil de instagram" data-rule-url />
                    </div>
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.6s">
                        <input type="text" name="facebook" placeholder="Seu perfil do facebook" data-rule-url />
                    </div>
                </div>
                <div class="contact__row">
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.7s">
                        <input type="text" name="linkedin" placeholder="Seu perfil do linkedin" data-rule-url />
                    </div>
                    <div class="contact__input-group contact__input-group--half wow animated fadeIn" data-wow-delay="0.8s">
                        <input type="text" name="horarios" placeholder="Horário de atendimento" data-rule-minlength="3" />
                    </div>
                </div>
                <div class="contact__row contact__row--no-margin">
                    <div class="contact__input-group wow animated fadeIn" data-wow-delay="0.9s">
                        <textarea name="extras" rows="4" placeholder="Informações adicionais, como: já possui domínio, pretende comprar um domínio, prefere versão preta, etc..." data-rule-minlength="3"></textarea>
                    </div>
                </div>
                <small class="contact__disclaimer wow animated fadeIn" data-wow-delay="0.9s">* campos obrigatórios</small>
                <button title="Enviar Mensagem" type="submit" class="contact__button wow animated fadeIn" data-wow-delay="1s" data-prevent-double-click><i class="icon icon--smaller icon--spinner icon--hide"></i>Enviar Mensagem</button>
            </form>
        </div>
        <div class="spacer" data-height="25"></div>
    </div>
</section>
