<section id="exemplos" data-anchor-scroll="exemplos" class="examples">
    <div class="examples__wrapper">
        <h2 class="examples__title wow animated fadeIn" data-wow-delay="0.1s">Exemplos</h2>
        <div class="spacer" data-height="40"></div>
        <div class="examples__content only-desktop">
            <div class="examples__item wow animated fadeIn" data-wow-delay="0.2s">
                <a title="Hub Comercial da Kimie Tanaka" target="_blank" href="https://bit.ly/kimietanaka">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/kimietanaka.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="examples__item wow animated fadeIn" data-wow-delay="0.3s">
                <a title="Hub Comercial da ManoG Wear" target="_blank" href="https://bit.ly/manogwear">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/manogwear.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="examples__item wow animated fadeIn" data-wow-delay="0.5s">
                <a title="Hub Comercial da Engaje Up" target="_blank" href="https://bit.ly/engajeup">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/engajeup.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="examples__item wow animated fadeIn" data-wow-delay="0.7s">
                <a title="Hub Comercial da Igor Fredegoto" target="_blank" href="https://bit.ly/igorfredegoto">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/igorfredegoto.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="examples__content only-mobile wow animated fadeIn" data-carousel data-carousel-autoplay="false" data-carousel-interval="10" data-wow-delay="0.1s">
            <div class="examples__item">
                <a title="Hub Comercial da Kimie Tanaka" target="_blank" href="https://bit.ly/kimietanaka">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/kimietanaka.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="examples__item">
                <a title="Hub Comercial da ManoG Wear" target="_blank" href="https://bit.ly/manogwear">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/manogwear.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="examples__item">
                <a title="Hub Comercial da Engaje Up" target="_blank" href="https://bit.ly/engajeup">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/engajeup.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="examples__item">
                <a title="Hub Comercial da Igor Fredegoto" target="_blank" href="https://bit.ly/igorfredegoto">
                    <div class="examples__block">
                        <div class="examples__block-details">
                            <span class="examples__block-more-button"><i class="icon icon--dots"></i></span>
                        </div>
                        <div class="examples__block-thumb">
                            <img loading="lazy" src="./assets/images/examples/igorfredegoto.jpg" alt="Hub Comercial de um de nossos clientes" />
                            <div class="examples__block-mask"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
