<section id="perguntas" data-anchor-scroll="perguntas" class="faq">
    <div class="faq__wrapper">
        <h2 class="faq__title wow animated fadeIn" data-wow-delay="0.1s">Perguntas Frequentes</h2>
        <div class="spacer" data-height="40"></div>
        <div class="faq__content">
            <div class="faq__column">
                <h3 class="faq__accordeon-title faq__accordeon-title--open wow animated fadeIn" data-wow-delay="0.1s">Qual o valor do Hub Comercial?</h3>
                <div class="faq__accordeon-text wow animated fadeIn" data-wow-delay="0.1s" style="display: block">
                    <p>O Hub Comercial tem um custo único de R$ 199,99 e não possui valor de hospedagem. Ou seja, você só paga uma vez.</p>
                </div>
                <h3 class="faq__accordeon-title wow animated fadeIn" data-wow-delay="0.2s">Após a compra tenho que continuar pagando?</h3>
                <div class="faq__accordeon-text">
                    <p>Não, o servidor de hospedagem fica por nossa conta.</p>
                </div>
                <h3 class="faq__accordeon-title wow animated fadeIn" data-wow-delay="0.3s">Qual o benefício disso?</h3>
                <div class="faq__accordeon-text">
                    <p>Se chegou aqui, imagino que saiba o quanto a agilidade influencia em uma decisão ou compra. Centralizar tudo que importa em um só local acaba sendo um diferencial nos dias de hoje.</p>
                </div>
            </div>
            <div class="faq__column">
                <h3 class="faq__accordeon-title wow animated fadeIn" data-wow-delay="0.4s">E o nome do site, fica como?</h3>
                <div class="faq__accordeon-text">
                    <p>Todos os Hub Comerciais são hospedados em um servidor genérico, já providenciando os domínios de forma gratuita. Mas para melhorar a conversão, sempre aplicamos um encurtador de links.</p>
                </div>
                <h3 class="faq__accordeon-title wow animated fadeIn" data-wow-delay="0.5s">Consigo mudar o nome do site (url)?</h3>
                <div class="faq__accordeon-text">
                    <p>Sim! Também realizamos esse serviço de atualização de domínio. Caso você já tenha ou prefira adicionar domínio customizado, nos comunique através do nosso <a title="Acessar formulário" href="./formulario">formulário</a> ou entre em contato com a gente por <a title="Enviar mensagem pelo Whatsapp" href="https://api.whatsapp.com/send?1=pt_BR&phone=5543936182483&text=Vim através do FAQ do Hub Comercial" target="_blank">aqui.</a></p>
                </div>
                <h3 class="faq__accordeon-title wow animated fadeIn" data-wow-delay="0.6s">Quero alterar alguma informação do Hub. Como faço para atualizar?</h3>
                <div class="faq__accordeon-text">
                    <p>Entre em contato conosco por <a title="Enviar mensagem pelo Whatsapp" href="https://api.whatsapp.com/send?1=pt_BR&phone=5543936182483&text=Desejo atualizar alguma informação de meu Hub Comercial" target="_blank">aqui</a> e nossa equipe te instruirá em como prosseguir.</p>
                </div>
            </div>
        </div>
    </div>
</section>
