<section id="funcionalidades" data-anchor-scroll="funcionalidades" class="features">
    <div class="features__wrapper">
        <h2 class="features__title wow animated fadeIn" data-wow-delay="0.1s">Tenha controle do seu Hub Comercial</h2>
        <div class="spacer" data-height="40"></div>

        <div class="features__content">
            <div class="features__block features__block--inverse">
                <div class="features__image wow animated fadeIn" data-wow-delay="0.2s">
                    <img loading="lazy" src="./assets/images/features/payment.svg" alt="Pix" />
                    <div class="spacer only-desktop" data-height="30"></div>
                </div>
                <div class="features__text wow animated fadeIn" data-wow-delay="0.1s">
                    <h2>Disponibilize seu Pix</h2>
                    <p>Facilite suas transações disponibilizando sua chave Pix há um toque de seu cliente.</p>
                </div>
            </div>

            <div class="spacer" data-height="30"></div>

            <div class="features__block wow animated fadeIn" data-wow-delay="0.1s">
                <div class="features__image">
                    <img loading="lazy" src="./assets/images/features/metrics.svg" alt="Análises e métricas" />
                    <div class="spacer only-desktop" data-height="30"></div>
                </div>
                <div class="features__text wow animated fadeIn" data-wow-delay="0.2s">
                    <h2>Análises e métricas</h2>
                    <p>Estude sua audiência e entenda qual tipo de cliente visita seu Hub Comercial.</p>
                </div>
            </div>

            <div class="spacer" data-height="30"></div>

            <div class="features__block features__block--inverse">
                <div class="features__image wow animated fadeIn" data-wow-delay="0.2s">
                    <img loading="lazy" src="./assets/images/features/agility.svg" alt="Agilidade" />
                    <div class="spacer only-desktop" data-height="30"></div>
                </div>
                <div class="features__text wow animated fadeIn" data-wow-delay="0.1s">
                    <h2>Agilidade</h2>
                    <p>Tenha seu Hub Comercial configurado e pronto para utilização em até dois dias!</p>
                </div>
            </div>
        </div>
    </div>
</section>
