<footer id="contato" class="footer">
    <div class="footer__wrapper">
        <h4 class="wow animated fadeIn" data-wow-delay="0.1s">Central de Atendimento</h4>

        <div class="footer__icons">
            <a title="Contato pelo Instagram" class="footer__icon icon icon--insta wow animated fadeIn" data-wow-delay="0.1s" target="_blank" href="https://www.instagram.com/hub_comercial/"></a>
            <a title="Contato pelo Email" class="footer__icon icon icon--envelope wow animated fadeIn" data-wow-delay="0.2s" target="_blank" href="mailto:lucasreinaldi@gmail.com.com"></a>
        </div>
    </div>

    <div class="footer__disclaimer wow animated fadeIn" data-wow-delay="0.5s">
        <p data-footer-copyright class="footer__copyright"></p>
    </div>
</footer>
