<header class="header">
    <div class="header__wrapper">
        <a class="header__logo" href="#intro">
            <img src="./assets/images/logo.png" alt="Logo Hub Comercial" />
        </a>

        <label class="header__button" for="header__button-input" data-header-label>
            <input type="checkbox" id="header__button-input" data-header-toggle />
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header__nav" data-header-nav>
            <ul class="header__menu">
                <li><a title="Funcionalidades" href="#funcionalidades" class="header__nav-link" data-header-link="funcionalidades">Funcionalidades</a></li>
                <li><a title="Depoimentos" href="#depoimentos" class="header__nav-link" data-header-link="depoimentos">Depoimentos</a></li>
                <li><a title="Exemplos" href="#exemplos" class="header__nav-link" data-header-link="exemplos">Exemplos</a></li>
                <li><a title="Valores" href="#valores" class="header__nav-link" data-header-link="valores">Valores</a></li>
                <li><a title="Perguntas" href="#perguntas" class="header__nav-link" data-header-link="perguntas">Perguntas</a></li>
                <li class="header__menu-purchase"><a data-outer-link title="Formulário" href="./formulario" class="header__nav-link" data-header-link>Adquirir</a></li>
                <li>
                    <p data-header-copyright class="header__nav-copyright"></p>
                </li>
            </ul>
        </nav>
    </div>
</header>
