<section id="intro" data-anchor-scroll="intro" class="intro">
    <div class="intro__wrapper">
        <div class="intro__video">
            <video data-video autoplay muted playsinline>
                <source src="./assets/videos/intro.mp4" type="video/mp4" />
                <source src="./assets/videos/intro.webm" type="video/webm" />
                <source src="./assets/videos/intro.ogv" type="video/ogv" />
                Seu navegador não suporta vídeos.
            </video>
            <a class="intro__video-replay" href="javascript:;" data-replay-button>
                <i class="icon icon--smaller icon--undo"></i>
            </a>
        </div>
        <div class="intro__text">
            <h2>Encurte o caminho <br class="only-mobile" />do seu <strong>cliente</strong></h2>
            <h1>Facilite a vida de quem utiliza seus serviços <span class="animated text-rotating" data-morphext>convertendo,engajando,prospectando,atraindo,cativando</span> clientes<br class="only-desktop" /> de forma mais eficiente utilizando o <strong><br class="only-mobile" />Hub Comercial</strong>.</h1>
        </div>
    </div>
    <div class="intro__scroll">
        <a title="Ver mais" href="#sobre" class="intro__scroll-wrapper wow animated fadeIn" data-wow-delay="0.1s">
            <span>ver mais</span>
            <span class="intro__scroll-mouse">
                <span class="intro__scroll-wheel"></span>
            </span>
        </a>
    </div>
</section>
