<section id="valores" data-anchor-scroll="valores" class="prices">
    <div class="prices__wrapper">
        <h2 class="prices__title wow animated fadeIn" data-wow-delay="0.1s">Valores</h2>
        <div class="spacer" data-height="40"></div>
        <div class="prices__content">
            <div class="prices__item wow animated fadeIn" data-wow-delay="0.1s">
                <div class="prices__item-wrapper">
                    <span class="prices__item-badge">-25%</span>
                    <img loading="lazy" src="./assets/images/prices/config.svg" alt="Configure seu Hub Comercial" />
                    <h2 class="plan">Configure</h2>
                    <p>Redes sociais</p>
                    <p>E-mail</p>
                    <p>Documentos e arquivos</p>
                    <p>Chave Pix</p>
                    <p>Contato fácil</p>
                    <p>Mapa Interativo</p>
                    <br />
                    <h3>R$ 199,99</h3>
                    <small>ou em até</small>
                    <h3><em>12x R$</em>16,65<span>/mês</span></h3>
                    <a title="Adquirir Hub Comercial" href="https://bit.ly/hubcomercial-adquirir" target="_blank" class="prices__item-button">Adquirir</a>
                    <br />
                    <small>ou</small>
                    <br />
                    <a href="javascript:;" title="Copiar Pix" data-copy="72140bc8-fadc-42f5-abb6-9c13cc80a59f" class="prices__item-anchor"> Copie nosso PIX clicando aqui</a>
                </div>
            </div>
            <div class="prices__item wow animated fadeIn" data-wow-delay="0.2s">
                <div class="prices__item-wrapper">
                    <img loading="lazy" src="./assets/images/prices/customize.svg" alt="Customize seu Hub Comercial" />
                    <h2>Customize</h2>
                    <p>Botões personalizados</p>
                    <p>Mudança de URL (domínio)</p>
                    <p>Implementação de analytics</p>
                    <p>Contagem de visitas</p>
                    <p>Alterações de conteúdo</p>
                    <p>Customizações diversas</p>
                    <br />
                    <h3>R$ 49,99</h3>
                    <small>ou em até</small>
                    <h3><em>12x R$</em>4,15<span>/mês</span></h3>
                    <a title="Customizar Hub Comercial" href="https://bit.ly/hubcomercial-customizar" target="_blank" class="prices__item-button">Customizar</a>
                    <br />
                    <small>ou</small>
                    <br />
                    <a href="javascript:;" title="Copiar Pix" data-copy="72140bc8-fadc-42f5-abb6-9c13cc80a59f" class="prices__item-anchor"> Copie nosso PIX clicando aqui</a>
                </div>
            </div>
        </div>
    </div>
</section>
