<section id="stepper">
    <div class="stepper__wrapper">
        <h2 class="stepper__title wow animated fadeIn" data-wow-delay="0.1s">É muito simples:</h2>
        <div class="spacer" data-height="40"></div>
        <div class="stepper__content">
            <div class="stepper__item wow animated fadeIn" data-wow-delay="0.1s">
                <p class="stepper__number transform-scale">01</p>
                <h5 class="stepper__text">Realize o pagamento através deste <a title="Adquirir Hub Comercial" href="https://bit.ly/hubcomercial-adquirir" target="_blank">link</a> ou copie nosso pix clicando <a href="javascript:;" title="Pagar com Pix" data-copy="72140bc8-fadc-42f5-abb6-9c13cc80a59f">aqui</a></h5>
            </div>
            <div class="stepper__item wow animated fadeIn" data-wow-delay="0.25s">
                <h5 class="stepper__text">Preencha o <a title="Acessar formulário" href="./formulario">formulário</a> com seus dados e se caso tiver dúvidas, entre em contato por <a title="Enviar mensagem pelo Whatsapp" href="https://api.whatsapp.com/send?1=pt_BR&phone=5543936182483&text=Vim através do passo a passo do Hub Comercial" target="_blank">aqui</a></h5>
                <p class="stepper__number transform-scale">02</p>
            </div>
            <div class="stepper__item wow animated fadeIn" data-wow-delay="0.4s">
                <p class="stepper__number transform-scale">03</p>
                <h5 class="stepper__text">Nossa equipe começará a desenvolver o seu Hub Comercial</h5>
            </div>
            <div class="stepper__item wow animated fadeIn" data-wow-delay="0.55s">
                <h5 class="stepper__text">Pronto! Em até dois dias você receberá o link de seu Hub Comercial e já poderá disponibilizá-lo para seus clientes e redes sociais</h5>
                <p class="stepper__number transform-scale">04</p>
            </div>
        </div>
    </div>
    <div class="spacer only-desktop" data-height="96"></div>
    <div class="spacer only-mobile" data-height="48"></div>
</section>
