<section id="depoimentos" data-anchor-scroll="depoimentos" class="testimonials">
    <div class="testimonials__wrapper">
        <h2 class="testimonials__title wow animated fadeIn" data-wow-delay="0.1s">Clientes e Depoimentos</h2>
        <div class="spacer" data-height="40"></div>
        <div class="testimonials__content wow animated fadeIn" data-carousel data-carousel-autoplay="true" data-carousel-interval="8" data-wow-delay="0.2s">
            <div class="testimonials__item">
                <a href="https://bit.ly/gabriellydonaire" target="_blank" class="testimonials__item-thumb">
                    <img loading="lazy" src="./assets/images/testimonials/gabriellydonaire.jpg" alt="Gabrielly Donaire" />
                </a>
                <h4>Gabrielly Donaire</h4>
                <div class="testimonials__item-baloon">
                    <p>Recomendo para todos os profissionais que estão buscando facilidade na interação com <br class="only-mobile" />seus clientes! Sem dúvidas, me auxiliou e me trouxe novos clientes! 😊</p>
                </div>
            </div>
            <div class="testimonials__item">
                <a href="https://bit.ly/renatareinaldi" target="_blank" class="testimonials__item-thumb">
                    <img loading="lazy" src="./assets/images/testimonials/renatareinaldi.jpg" alt="Renata Reinaldi" />
                </a>
                <h4>Renata Reinaldi</h4>
                <div class="testimonials__item-baloon">
                    <p>Depois que comecei a usar o Hub Comercial minha visibilidade aumentou significativamente! Recentemente tenho recebido muitas visitas e propostas no meu Linkedin. 🙌</p>
                </div>
            </div>
            <div class="testimonials__item">
                <a href="https://bit.ly/rodrigoluiz" target="_blank" class="testimonials__item-thumb">
                    <img loading="lazy" src="./assets/images/testimonials/rodrigoluiz.jpg" alt="Rodrigo Luiz" />
                </a>
                <h4>Rodrigo Luiz</h4>
                <div class="testimonials__item-baloon">
                    <p>Ferramenta essencial para empreendedorismo. Praticidade em direcionar clientes diretamente às áreas de interesse da empresa. Equipe Hub Comercial, atenciosa e assertiva. Recomendo! 🔥</p>
                </div>
            </div>
        </div>
    </div>
</section>
